.q{

    width: 305px;
    background-color: rgb(15, 15, 29);
    border: rgb(1, 1, 46);
    height: 35px;
    border-radius: 5px;
    align-items: unset;
    color: snow;
    opacity: 0.5;
    padding-left: 10px;
    padding-top: 5px;
    margin-right: 50px;
}  
.b{
    background-color: rgb(15, 15, 29);
    border: rgb(1, 1, 46);
    opacity: 0.5;
}      